recursive-include vizinspect/frontend/templates *.html
recursive-include vizinspect/frontend/static *.js
recursive-include vizinspect/frontend/static *.css
recursive-include vizinspect/frontend/static/images *

include LICENSE
include README.md
include requirements.txt

global-exclude *.pkl
global-exclude *.pyc
global-exclude .DS_Store
global-exclude *.map
global-exclude *sqlite*
