{% extends 'base.html' %}

{% block pagecss %}
{% end %}


{% block pagecontent %}

<!-- this is where all the alerts go -->
<div class="container-fluid">
  <div class="row mt-2">
    <div class="col-12">
      <div id="alert-box">
        {% raw flash_messages %}
      </div>
    </div>
  </div>
</div>

<!-- this checks if we're logged in. if we are, show the main interface. -->
{% if current_user['user_role'] in ('authenticated','staff','superuser') %}

<!-- set the container width to window width.
     remove -fluid below to wrap to ususal Bootstrap grid -->
<div class="container-fluid">

  <div class="row" >

    <!-- this contains the main viewer and buttons -->
    <div class="col-sm-12 col-md-9">

      <!-- Legacy Survey and hscMap controls -->
      <div class="row">
        <div class="col-12 text-center" >
          <a target="_blank" rel="noopener noreferrer" id="legacy-at-loc" href="#" >
            Legacy Surveys
          </a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;              
          <a target="_blank" rel="noopener noreferrer" id="hsc-map-at-loc" href="#" >
            hscMap
          </a>
        </div>
      </div>

      <div class="row justify-content-between">

        <div class="col-2 d-flex justify-content-start">

          <button type="button"
                  class="btn btn-outline-info"
                  id="prev-object-link">
            &larr; prev
          </button>

        </div>

        <div class="col-8 d-flex justify-content-center" >

          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"
                    id="current-index-label">Current object ID</span>
            </div>
            <input type="text"
                   id="current-source-index" data-keyid="0"
                   class="form-control"
                   placeholder="current object source index"
                   aria-label="source index" aria-describedby="current-index">
            <div class="input-group-append">
              <button class="btn btn-outline-success"
                      type="button"
                      id="jump-source-index">Jump to object</button>
            </div>
          </div>
        </div>

        <div class="col-2 d-flex justify-content-end">

          <button type="button"
                  class="btn btn-outline-info"
                  id="next-object-link">
            next &rarr;
          </button>

        </div>

      </div>

      <!-- viewer row -->
      <div class="row mt-2" >
        <div class="d-flex col-sm-12 justify-content-center" id="plot-box">

          <img src=""
               class="figure-img img-fluid"
               id="galaxy-main-plot"
               data-sourceindex="null"
               data-ra="null"
               data-dec="null"
               alt="Galaxy image.">

        </div>
      </div>

      <!-- this contains the info on the current object -->
      <div class="row">
        <div class="col-12" >
          <table class="table table-sm" >
            <thead>
              <tr>
                <th><code>object id</code></th>
                <th><code>ra [deg]</code></th>
                <th><code>dec [deg]</code></th>
                <th><code>r_eff [arcsec]</code></th>
                <th><code>&lt;mu(g)&gt; [mag/arcsec^2]</code></th>
                <th><code>g-i</code></th>
                <th><code>g-r</code></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td id="current-objectid-val" >1</td>
                <td id="current-ra-val" >30.0</td>
                <td id="current-dec-val" >10.0</td>
                <td id="current-reff-val" >1</td>
                <td id="current-mug0-val" >2</td>
                <td id="current-gicolor-val" >3</td>
                <td id="current-grcolor-val" >4</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- control row -->
      <!-- this contains the source index and notes -->
      <form id="comment-form" method="post">
        {% module xsrf_form_html() %}
        <div class="row" >

          <div class="col-sm-12 col-md-5" >

              <!-- <h4>Object flags</h4> -->

            <div id="flag-button-group-1" class="mt-2 d-flex">
            </div>

            <div style="height:1px;font-size:2px;">&nbsp;</div> 

            <div id="flag-button-group-2" class="mt-2 d-flex">
            </div>

            <br>

            <div class="custom-control custom-checkbox mb-4">
              <input type="checkbox" class="custom-control-input" id="pref-autosave-next">
              <label class="custom-control-label" for="pref-autosave-next">
                Save &amp; jump to next object when flag is set
              </label>
            </div>


          </div>

          <div class="col-sm-12 col-md-7" >

            <div class="form-group">
              <label for="object-notes">Notes on this object</label>
              <textarea class="form-control" id="object-notes" rows="5"
                        placeholder="Notes for this object go here. Markdown formatting is supported. ADS bibcodes and most DOIs will be automatically linkified.">
              </textarea>
            </div>

            <button type="submit" class="btn btn-success"
                    id="save-current-object">
              Save notes and classification
            </button>

          </div>

        </div>

      </form>


      <!-- this contains the extra columns -->
      <div class="row mt-4" >
        <div class="col-12">

          <div class="accordion" id="extrainfo-accordion">
            <div class="card">
              <div class="card-header" id="extrainfo-head">
                <h2 class="mb-0">
                  <button class="btn btn-link"
                          type="button"
                          data-toggle="collapse"
                          data-target="#extrainfo-collapse"
                          aria-expanded="false"
                          aria-controls="extrainfo-collapse">
                    All database information for this object
                  </button>
                </h2>
              </div>

              <div id="extrainfo-collapse" class="collapse"
                   aria-labelledby="extrainfo-head"
                   data-parent="#extrainfo-accordion">

                <div class="card-body">

                  <table class="table table-sm" id="extra-info-cols" >
                  </table>

                </div>

              </div>
            </div>

          </div>
        </div>
      </div>


    </div>

    <!-- this contains all other user's comments -->
    <div class="col-sm-12 col-md-3">

      <div class="row">
        <div class="col-10">
          <h4>Currently browsing list</h4>
        </div>
        <div class="col-2" id="spinner-block" >

        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <form>
            <div class="form-group">
              <select class="custom-select" id="objectlist-pref-select">
                <option value="all">All objects</option>
                <option value="assigned-self">Objects assigned for my review</option>
                <option value="assigned-unreviewed">Assigned but unreviewed objects</option>
                <option value="assigned-reviewed">Assigned and reviewed objects</option>
                <option value="reviewed-self">Objects reviewed by me</option>
                <option value="reviewed-other">Objects reviewed by others</option>
              </select>
            </div>
          </form>

        </div>
      </div>

      <div class="row">
        <div class="col-12">

          <div id="all-object-list" >
            <ul class="list-unstyled" id="objectid-list">
            </ul>
          </div>

        </div>
      </div>

      <div class="row mt-2 justify-content-center">
        <div class="col-6 d-flex justify-content-center">
        </div>
      </div>

      <div class="row justify-content-between" >

        <div class="col-2 d-flex justify-content-start" >
          <button type="button"
                  class="btn btn-outline-info btn-sm"
                  id="prev-list-page">
            &larr; prev
          </button>
        </div>

        <div class="col-6 d-flex align-items-center justify-content-center" >

          Page
          &nbsp;
          <span id="current-pagenum" ></span>
          &nbsp;
          of
          &nbsp;
          <span id="current-list-npages"></span>

        </div>

        <div class="col-2 d-flex justify-content-end" >
          <button type="button"
                  class="btn btn-outline-info btn-sm"
                  id="next-list-page">
            next &rarr;
          </button>
        </div>

      </div>

      <div class="row mt-4">
        <div class="col-12">

          <h4>Comments on this object</h4>

          <div class="all-object-comments" >


          </div>

        </div>
      </div>

    </div>

  </div>

  <!-- end of the main container -->
</div>

<!-- if we're not logged in, show the welcome message only -->
{% else %}

<div class="container" >
  <div class="row" >
    <div class="col-12" >
      Hello there! Please <a href="/users/login" >login to continue</a>.
    </div>
  </div>
</div>

{% end %}


<!-- end of page content -->
{% end %}

{% block pagejs_modules %}
{% end %}


{% block pagejs %}
<script>
  $(document).ready(function() {

    // UI action setup
    ui.action_setup();

    // load the user prefs
    ui.prefs = ui.load_cookie_prefs();

    if (ui.prefs !== undefined) {

      if (ui.prefs.autosave_jump == true) {
        $('#pref-autosave-next').prop('checked',true);
      }

    }

    {% if current_user['user_role'] in ('authenticated','staff','superuser') %}

    // fire the main handler
    review.get_object_list('all', 'start', 1, 'first');

    {% end %}

    });
</script>
{% end %}
