{% extends 'base.html' %}

{% block pagecss %}
{% end %}


{% block pagecontent %}

<!-- this is where all the alerts go -->
<div class="container-fluid">
  <div class="row mt-2">
    <div class="col-12">
      <div id="alert-box">
        {% raw flash_messages %}
      </div>
    </div>
  </div>
</div>

<!-- this checks if we're logged in. if we are, show the main interface. -->
{% if current_user['user_role'] in ('authenticated','staff','superuser') %}
<div class="container-fluid" >
  <div class="row" >
    <div class="col-12" >
      Hello there, {{ current_user['email'] }}!
    </div>
  </div>
</div>

<!-- set the container width to window width.
     remove -fluid below to wrap to ususal Bootstrap grid -->
<div class="container-fluid">

  <div class="row mt-4" >

    <!-- this contains the main viewer and buttons -->
    <div class="col-sm-12 col-md-9">

      <!-- hscMap controls -->
      <div class="row">
        <div class="col-12 text-center" >
          <button type="button" id="hsc-map-at-loc"
                  class="btn btn-outline-secondary btn-sm">
            hscMap at this location
          </button>
        </div>
      </div>

      <!-- viewer row -->
      <div class="row mt-4" >
        <div class="col-sm-12">

          <figure class="figure d-flex justify-content-center align-items-center">
            <img src="https://spaceholder.cc/800x600"
                 class="figure-img img-fluid"
                 id="galaxy-main-plot"
                 data-sourceindex="null"
                 data-ra="null"
                 data-dec="null"
                 alt="Galaxy image.">
          </figure>

        </div>
      </div>

      <!-- this contains the info on the current object -->
      <div class="row">
        <div class="col-12" >
          <table class="table table-sm" >
            <thead>
              <tr>
                <th><code>r_eff</code></th>
                <th><code>mu_0(g)</code></th>
                <th><code>g-i color</code></th>
                <th><code>g-r color</code></th>
                <th><code>class</code></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td id="current-reff-val" >1</td>
                <td id="current-mug0-val" >2</td>
                <td id="current-gicolor-val" >3</td>
                <td id="current-grcolor-val" >4</td>
                <td id="current-objectclass-val" >unknown</td>
              </tr>
          </table>
        </div>
      </div>

      <!-- control row -->
      <div class="row mt-2" >
        <div class="col-12" >
          <div class="btn-toolbar justify-content-between"
               role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-auto" role="group" aria-label="First group">
              <button type="button" class="btn btn-outline-info">previous</button>
            </div>
            <div class="btn-group" role="group" aria-label="Second group">
              <button type="button" class="btn btn-primary">yes</button>
              <button type="button" class="btn btn-success">no</button>
              <button type="button" class="btn btn-warning">tidal</button>
              <button type="button" class="btn btn-secondary">unknown</button>
            </div>
            <div class="btn-group ml-auto" role="group" aria-label="Third group">
              <button type="button" class="btn btn-outline-info">next</button>
            </div>
          </div>
        </div>
      </div>

      <!-- this contains the source index and notes -->
      <div class="row mt-2" >
        <div class="col-12" >
          <form>
            <div class="form-group">
              <label for="source-index">Source index</label>
              <input type="text" class="form-control" id="source-index"
                     placeholder="The current object's source index">
            </div>
            <div class="form-group">
              <label for="object-notes">Notes on this object</label>
              <textarea class="form-control" id="object-notes" rows="5">
                 Notes for this object go here. Markdown formatting is supported.
              </textarea>
            </div>
            <button type="submit" class="btn btn-primary"
                    id="save-current-object">
              Save notes and classification
            </button>
          </form>
        </div>
      </div>

    </div>

    <!-- this contains all other user's comments -->
    <div class="col-sm-12 col-md-3">
      <h4>All users' comments</h4>

      <div class="all-object-comments" >

        <div class="card mt-3">
          <div class="card-header">
            Someone else (minutes ago)
          </div>
          <div class="card-body">
            <p>Nil Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
              posuere erat a ante.</p>
          </div>
        </div>

        <div class="card mt-3">
          <div class="card-header">
            Someone (hours ago)
          </div>
          <div class="card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
              posuere erat a ante.</p>
          </div>
        </div>

      </div>

    </div>

  </div>

  <!-- end of the main container -->
</div>

<!-- if we're not logged in, show the welcome message only -->
{% else %}

<div class="container" >
  <div class="row" >
    <div class="col-12" >
      Hello there! Please <a href="/users/login" >login to continue</a>.
    </div>
  </div>
</div>

{% end %}


<!-- end of page content -->
{% end %}

{% block pagejs_modules %}
{% end %}


{% block pagejs %}

$(document).ready(function() {

// UI action setup
ui.action_setup();

// load the user prefs
ui.load_cookie_prefs('main-page');


});

{% end %}
